<mat-card>
  <mat-card-title>Add a new Entry</mat-card-title>

  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field>
        <input type="text" matInput placeholder="User" name="user" [(ngModel)]="entry.user" #user="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Workshop" name="workshop" [(ngModel)]="entry.workshop" #workshop="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Ticket Price" name="ticketPrice" [(ngModel)]="entry.ticketPrice" #ticketPrice="ngModel">
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Workshop URL" name="url" [(ngModel)]="entry.url" #url="ngModel">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary">Add</button>
    <button mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>

<code>
  {{entry | json}}
</code>
