<mat-card>
  <mat-card-title>Add a new Entry</mat-card-title>

  <mat-card-content>
    <form #form="ngForm">
      <mat-form-field>
        <input type="text" matInput placeholder="User" name="user" [(ngModel)]="entry.user" #user="ngModel"
               required>
        <mat-error *ngIf="user.errors?.required && (user.dirty || user.touched)">
          User is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Workshop" name="workshop" [(ngModel)]="entry.workshop" #workshop="ngModel"
               required minlength="5">
        <mat-error *ngIf="workshop.errors?.required && (workshop.dirty || workshop.touched)">
          Workshop is required
        </mat-error>
        <mat-error *ngIf="workshop.errors?.minlength && (workshop.dirty || workshop.touched)">
          Workshop length is too short
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Ticket Price" name="ticketPrice" [(ngModel)]="entry.ticketPrice" #ticketPrice="ngModel"
               required>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Workshop URL" name="url" [(ngModel)]="entry.url" #url="ngModel"
               required [pattern]="urlPattern">
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button [disabled]="form.invalid" (click)="submit()" mat-raised-button color="primary">Add</button>
    <button (click)="cancel()" mat-raised-button>Cancel</button>
  </mat-card-actions>
</mat-card>
<!-- <pre>
  Form.valid: {{form.valid}}
  Form.invalid: {{form.invalid}}
  Form.pristine: {{form.pristine}}
  Form.dirty: {{form.dirty}}
  Form.touched: {{form.touched}}
  Form.untouched: {{form.untouched}}
</pre> -->
<!-- <pre>
  user.valid: {{user.valid}}
  user.invalid: {{user.invalid}}
  user.pristine: {{user.pristine}}
  user.dirty: {{user.dirty}}
  user.touched: {{user.touched}}
  user.untouched: {{user.untouched}}
</pre> -->
<!-- <code>
  {{entry | json}}
</code> -->
